{% extends "layout.html" %}
{% load static %}
{% block content %}

    <section class="player-section set-bg" data-setbg="{% static 'img/player-bg.jpg' %}">
        <div class="player-box">
            <div class="tarck-thumb-warp">
                <div class="tarck-thumb">
                    <img src="{% static 'img/wave-thumb.jpg' %}" alt="">
                    <button onclick="wavesurfer.playPause();" class="wp-play"></button>

                </div>
            </div>
            <div class="wave-player-warp">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="wave-player-info">
                            <h2>{{ artist_info.name }}</h2>
                            <p>{{ summary }}</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="songs-links">
                            <a href=""><img src="{% static 'img/icons/p-1.png' %}" alt=""></a>
                            <a href=""><img src="{% static 'img/icons/p-2.png' %}" alt=""></a>
                            <a href=""><img src="{% static 'img/icons/p-3.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Songs details section -->
    <section class="songs-details-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="song-details-box">
                        <h3><i class="fas fa-guitar"></i> Artist Details</h3>
                        <ul>
                            {% if artist_genre_info.keys|length > 0 %}
                                <li>
                                    <strong>Genre:</strong>
                                    <span>
                                {% for k, v in artist_genre_info.items %}
                                    <a href="{% url 'genre' k|cut:'http://SpotifyStats.com/genre/' %}">{{ v|capfirst }}</a>
                                    {% if forloop.counter != artist_genre_info|length %}, {% endif %}
                                {% endfor %}
                            </span>
                                </li>
                            {% endif %}
                            {% if artist_info.popularity %}
                                <li>
                                    <strong>Global
                                        Popularity:</strong><span> {{ artist_info.popularity|slice:":6" }}</span>
                                </li>
                            {% endif %}
                            {% if artist_info.count %}
                                <li><strong>Number of Songs: </strong><span>{{ artist_info.count }}</span></li>
                            {% endif %}
                            {% if duration %}
                                <li><strong>Avg. Song Duration: </strong><span>{{ duration }} </span></li>
                            {% endif %}
                            {% if artist_info.tempo %}
                                <li><strong>Avg. Tempo: </strong><span>{{ artist_info.tempo|slice:":6" }} bpm</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="song-details-box">
                                <h3><i class="fas fa-chart-pie"></i> Stats</h3>
                                <div class="artist-details">
                                    <canvas id="pie-chart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="song-details-box">
                                <h3><i class="fas fa-fire"></i> Top Songs</h3>
                                <!-- song -->
                                <div id="player" style="display: none;"></div>
                                {% for song, songInfo in most_popular_songs_info.items %}
                                    <div class="song-item">
                                        <div class="row">
                                            <div class="col-xl-5 col-lg-12 col-md-5">
                                                <div class="song-info-box">
                                                    <img src="{% static 'img/songs/1.jpg' %}" alt="">
                                                    <div class="song-info">
                                                        <h4>
                                                            <a href="{% url 'song' song|cut:'http://SpotifyStats.com/song/' %}"
                                                               style="color:#0a183d">{{ songInfo.name }}</a></h4>
                                                        <p><i class="fas fa-fire"></i><b> Global
                                                            Popularity: </b>{{ songInfo.popularity }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-7 col-lg-12 col-md-7">
                                                <div class="single_player_container">
                                                    <div class="single_player row" style="padding-top: 0">
                                                        <!-- Player Controls -->
                                                        <div class="player_controls_box" style="width: 50px">
                                                            <button id="play" class="jp-play player_button"
                                                                    type="button"
                                                                    onclick="playVideo('3Ba_WoSZXvw')"></button>
                                                            <button id="pause" class="jp-stop player_button"
                                                                    type="button"player_controls_box
                                                                    onclick="pauseVideo()"></button>
                                                        </div>
                                                        <!-- Progress Bar -->
                                                        <div class="player_bars"  style="width: 75%; padding-left: 5%; padding-top: 4%">
                                                            <div class="row" >
                                                                <div class="w3-border" style="width: 100%">
                                                                    <div id="progress" class="w3-grey"
                                                                         style="height:1px;width:0%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding-top: 1%">
                                                                <div class="col align-self-start" style="padding-left: 0">
                                                                    <p id="curr_time" style="font-size: 11px">0:00</p>
                                                                </div>
                                                                <div class="col align-self-end" style="padding-right: 0">
                                                                    <p id="duration"  style="font-size: 11px; text-align:right">0:00</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Songs details section -->

    <script>
        var config = {
            type: 'polarArea',
            data: {
                datasets: [{
                    data: {{ data| safe }},
                    backgroundColor: [
                        '#FAB314', '#717B86', '#08192D', '#E6E8EA', '#FF005A'
                    ],
                    label: 'Population'
                }],
                labels: {{ labels | safe }}
            },
            options: {
                responsive: true
            }
        };


        window.onload = function () {
            var ctx = document.getElementById('pie-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>

{% endblock %}