{% extends "layout.html" %}
{% load static %}

{% block content %}

    <!-- Category section -->
    <section class="category-section spad" style="padding-bottom: 0">
        <div class="container-fluid">
            <div class="section-title">
                <h2>{{ genre_info.name|capfirst }}</h2>
                <h5 id="subtitle" style="padding-left: 1.5%; padding-top: 2%">TOP Artists and Songs</h5>
            </div>
            <div class="container">
                <div class="category-links">
                    <a class="active" onclick=goToHere("all","artists","songs") id="all">Artist & Songs</a>
                    <a class="" onclick=goToHere("artists","all","songs") id="artists">Artists</a>
                    <a class="" onclick=goToHere("songs","all","artists") id="songs">Songs</a>
                </div>
            </div>
            <div id="artistsContent" class="category-items" style="padding-bottom: 105px" >
                <div class="row">
                    {% for artist in artists %}
                        <div class="col-md-3">
                            <div class="category-item">
                               {% if not artist_info.face_photo %}
                                    <img src="{% static  'img/playlist/9.jpg' %}" alt="">
                               {% else %}
                                    <img src="{{ artist_info.face_photo }}" alt="">
                               {% endif %}
                                <div class="ci-text">
                                    <a href="{% url 'artist' artist.s.value|cut:'http://SpotifyStats.com/artist/' %}">
                                        <h4>{{ artist.name.value }}</h4></a>
                                    <p><b>Number of songs: </b> {{ artist.count.value }} </p>
                                    <p><b>Global Popularity: </b> {{ artist.pop.value|slice:4 }} </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Category section end -->


    <!-- Songs section  -->
    <section id="songsContent" class="songs-section">
        <div class="container">

            {% for song, songInfo in song_info.items %}
                <!-- song -->
                <div class="song-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="song-info-box">
                                <img src="{% static  'img/songs/1.jpg' %}" alt="">
                                <div class="song-info">
                                    <h4>Jennifer Brown</h4>
                                    <p>One Night in Ibiza</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single_player_container">
                                <div class="single_player">
                                    <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1"
                                         data-url="music-files/1.mp3"></div>
                                    <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                                        <div class="jp-gui jp-interface">

                                            <!-- Player Controls -->
                                            <div class="player_controls_box">
                                                <button class="jp-prev player_button" tabindex="0"></button>
                                                <button class="jp-play player_button" tabindex="0"></button>
                                                <button class="jp-next player_button" tabindex="0"></button>
                                                <button class="jp-stop player_button" tabindex="0"></button>
                                            </div>
                                            <!-- Progress Bar -->
                                            <div class="player_bars">
                                                <div class="jp-progress">
                                                    <div class="jp-seek-bar">
                                                        <div>
                                                            <div class="jp-play-bar">
                                                                <div class="jp-current-time" role="timer" aria-label="time">
                                                                    0:00
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- Songs section end -->

    <script>
        function goToHere(id, id2, id3) {
            document.getElementById(id).className = "active"
            document.getElementById(id2).className = document.getElementById(id2).className.replace(/\bactive\b/g, "");
            document.getElementById(id3).className = document.getElementById(id2).className.replace(/\bactive\b/g, "");

            var idd = id + "Content";
            var idd2 = id2 + "Content";
            var idd3 = id3 + "Content";

            if (id == "artists") {
                document.getElementById("subtitle").innerHTML = "TOP Artists"
                document.getElementById(idd3).style.display = "none";
                document.getElementById(idd).style.display = null;
            }
            else if (id == "songs") {
                document.getElementById("subtitle").innerHTML = "TOP Songs"
                document.getElementById(idd3).style.display = "none";
                document.getElementById(idd).style.display = null;
            }
            else {
                document.getElementById("subtitle").innerHTML = "TOP Artists and Songs"
                document.getElementById(idd2).style.display = null;
                document.getElementById(idd3).style.display = null;
            }
        }
    </script>

{% endblock %}