{% extends "layout.html" %}
{% load static %}

{% block content %}

    <section class="help-section spad pt-0">
        <div style="margin-left: 10%; margin-right: 10%">
            <div class="row" style="padding-top: 50px">
                <div class="col-lg-7 align-content-start">
                    <div class="section-title mb-0 pb-4">
                        <h2 style="font-size: 50px">{{ title }}</h2>
                    </div>
                </div>
                <div class="col-lg-5 align-content-end">
                    <div class="d-flex h-100 align-items-end">
                        <form id="searchFormGenre" action="genres" method="POST" class="search-form">
                            {% csrf_token %}
                            <input type="text" name="search" placeholder="Hit it">
                            <button >Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row" style="margin-left: 10%; margin-right: 10%">
        {% for genre in genres %}
            <div class="col-4 genre"
                {% if forloop.counter > 15 %}
                    style="margin-bottom: 50px; display: none; "
                {% else %}
                    style="margin-bottom: 50px;"
                {% endif %}
            >
                <div class="song-info" style="padding-top: 2%; background: #d0d7db; text-align: center; border-radius: 40px; height: 100px; display: flex; justify-content: center; align-content: center; flex-direction: column;"
                     xmlns:spotc="http://SpotifyStats.com/spotc/"
                     xmlns:spotp="http://SpotifyStats.com/spotp/"
                     xmlns:dc="http://purl.org/dc/elements/1.1/"
                     about="{{genre.s.value}}"
                     typeof="spotc:Genre"
                >
                    <h4 property="dc:title"><a style="color: #0a183d" href="{% url 'genre' genre.s.value|cut:'http://SpotifyStats.com/spot/' %}" >{{ genre.name.value|capfirst}}</a></h4>
                    <p style="padding-bottom: 0; margin-bottom: 0; padding-top: 5px;"><b><i class="fas fa-fire"></i> Global Popularity: </b><span property="spotp:popularity">{{ genre.pop.value|slice:":4"}}</span></p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col align-self-center" style="text-align: center; padding-bottom: 60px">
                <button onclick=showAllGenre() style="background: #fc0254; height: 60px;  min-width: 167px; right: 0; top: 0; border: none; border-radius: 80px; color: #fff; font-size: 15px;">Show All</button>
            </div>
        </div>
    </div>

    <script>
        function showAllGenre() {
            console.log("aaaa")
            var x = document.getElementsByClassName("genre");
            console.log(x)
            Array.prototype.forEach.call(x, function(el) {
                // Do stuff here
                el.style.display = null
            });
        }
    </script>

{% endblock content %}


