{% extends "layout.html" %}
{% load split %}

{% block content %}
    <!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Music</span> for everyone.</h2>
								<p>The sound you want to listen to is right this way!</p>
								<a href="{% url 'songs' %}" class="site-btn">Give it a try</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="../static/img/hero-bg.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Listen </span> to new music.</h2>
								<p>Our similar song algorithm is sure to make you listen to new songs!</p>
                                <a href="{% url 'songs' %}" class="site-btn">Try it now</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="../static/img/hero-bg.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
            <div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Access to more than 160k tracks!</h2>
					</div>
				</div>
				<div class="col-lg-6">
                    <p style="text-align: justify">By usign the data present in the dataset Spotify Dataset 1922-2021, ~160k Tracks from <a href="https://www.kaggle.com/yamaerenay">Yamac Eren Ay</a> in Kaggle we can provide a great user experience to enjoy your favorite songs.</p>
					<a href="{% url 'songs' %}" class="site-btn">Try it now</a>
				</div>
			</div>
            <div class="row" style="padding-top: 80px">
                <div class="section-title" style="width:100%;text-align:center;">
                    <h4 id="trySearch">Try our search now!</h4>
                </div>

            </div>

            <form id="searchFormSong" action=".#trySearch" method="POST" class="search-form" >
                {% csrf_token %}
                 <div class="row">
                    <div class="col"><input type="text" name="song" placeholder="Song"></div>
                    <div class="col"><input type="text" name="artist" placeholder="Artist"></div>
                    <div class="col"><input type="text" name="genre" placeholder="Comma separated genres"></div>
                    <div class="col-2"><button >Search</button></div>
                 </div>
                 <div class="row" style="text-align: center">
                    {% if results %}
                        <h5 style="padding: 30px; width: 100%; text-align: center">TOP 9 results</h5>
                    {% endif %}
                 </div>
                <div class="row">

                    {% for song in results %}
                        <div class="col-4 song"
                            {% if forloop.counter > 15 %}
                                style="padding-left: 0; margin-bottom: 50px; display: none"
                            {% else %}
                                style="padding-left: 0; margin-bottom: 50px;"
                            {% endif %}
                        >
                            <div class="song-info-box"
                                 xmlns:spotc="http://SpotifyStats.com/spotc/"
                                 xmlns:spotp="http://SpotifyStats.com/spotp/"
                                 xmlns:dc="http://purl.org/dc/elements/1.1/"
                                 about="{{song.s.value}}"
                                 typeof="spotc:Song"
                            >
                                {% if not song.cover_art.value %}
                                    <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/cd.png" alt="">
                                {% else %}
                                    <img property="spotp:cover_art" src="{{ song.cover_art.value }}" alt="">
                                {% endif %}
                                <div class="song-info" style="padding-top: 2%">
                                    <a href="{% url 'song'  song.s.value|cut:'http://SpotifyStats.com/spot/' %}" ><h4>{{ song.name.value}}</h4></a>
                                    {% with song.artists.value|split:"," as artist_uris %}
                                        {% with song.artist_names.value|split:"," as artist_names %}
                                            <p><b><i class="fas fa-microphone-alt"></i>Artist: </b>
                                                {% for artist_uri, artist_name in artist_uris|zip:artist_names %}
                                                    <span rel="spopt:artists">
                                                        <span about="{{ artist_uri }}"
                                                              typeof="spotc:Artist"
                                                              property="dc:title">
                                                            <a href="{% url 'artist'  artist_uri|cut:'http://SpotifyStats.com/spot/' %}" >{{artist_name}} </a>
                                                        </span>
                                                        {% if forloop.counter != artist_uris|length %}, {% endif %}

                                                    </span>
                                                {% endfor %}
                                            </p>
                                        {% endwith %}
                                    {% endwith %}
                                    <p><b><i class="fas fa-fire"></i> Global Popularity: </b><span property="spotp:popularity">{{ song.pop.value}}</span></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
		</div>
	</section>
	<!-- Intro section end -->

	<!-- How section -->
	<section class="how-section spad set-bg" data-setbg="../static/img/how-to-bg.jpg">
		<div class="container text-white">
			<div class="section-title">
				<h2>Our Data</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="../static/img/icons/smartphone.png" alt="">
						</div>
						<h4>We have {{ song_count}} songs</h4>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="../static/img/icons/smartphone.png" alt="">
						</div>
						<h4>From {{ artist_count}} artists</h4>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="../static/img/icons/smartphone.png" alt="">
						</div>
						<h4>Covering {{ genre_count}} genres</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- How section end -->
{% endblock %}