{% extends "layout.html" %}
{% load static %}
{% load split %}

{% block content %}

    <section class="help-section spad pt-0">
        <div style="margin-left: 10%; margin-right: 10%">
            <div class="row" style="padding-top: 50px">
                <div class="col-lg-7 align-content-start">
                    <div class="section-title mb-0 pb-4">
                        <h2 style="font-size: 50px">{{ title}}</h2>
                    </div>
                </div>
                <div class="col-lg-5 align-content-end">
                    <div class="d-flex h-100 align-items-end">
                        <form id="searchFormSong" action="." method="POST" class="search-form">
                            {% csrf_token %}
                            <input type="text" name="search" placeholder="Hit it">
                            <button >Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row" style="margin-left: 10%; margin-right: 10%">
        {% for song in songs %}
            <div class="col-4 song"
                {% if forloop.counter > 15 %}
                    style="padding-left: 0; margin-bottom: 50px; display: none"
                {% else %}
                    style="padding-left: 0; margin-bottom: 50px;"
                {% endif %}
            >
                <div class="song-info-box"
                     xmlns:spotc="http://SpotifyStats.com/spotc/"
                     xmlns:spotp="http://SpotifyStats.com/spotp/"
                     xmlns:dc="http://purl.org/dc/elements/1.1/"
                     about="{{song.s.value}}"
                     typeof="spotc:Song"
                >
                    {% if not song.cover_art.value %}
                        <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/cd.png" alt="">
                    {% else %}
                        <img property="spotp:cover_art" src="{{ song.cover_art.value }}" alt="">
                    {% endif %}
                    <div class="song-info" style="padding-top: 2%">
                        <h4 property="dc:title"><a style="color: #0a183d" href="{% url 'song'  song.s.value|cut:'http://SpotifyStats.com/spot/' %}" >{{ song.name.value}}</a></h4>
                        {% with song.artists.value|split:"," as artist_uris %}
                            {% with song.artist_names.value|split:"," as artist_names %}
                                <p><b><i class="fas fa-microphone-alt"></i> Artist: </b>

                                    <span rel="spotp:artists" style="display: unset">
                                        {% for artist_uri, artist_name in artist_uris|zip:artist_names %}
                                            <span about="{{ artist_uri }}" style="display: unset"
                                                  typeof="spotc:Artist"
                                                  property="dc:title">
                                                <a href="{% url 'artist'  artist_uri|cut:'http://SpotifyStats.com/spot/' %}" >{{artist_name}} </a>
                                            </span>
                                            {% if forloop.counter != artist_uris|length %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                </p>
                            {% endwith %}
                        {% endwith %}
                        <p><b><i class="fas fa-fire"></i> Global Popularity: </b><span property="spotp:popularity">{{ song.pop.value}}</span></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col align-self-center" style="text-align: center; padding-bottom: 60px">
                <button onclick=showAll() style="background: #fc0254; height: 60px;  min-width: 167px; right: 0; top: 0; border: none; border-radius: 80px; color: #fff; font-size: 15px;">Show All</button>
            </div>
        </div>
    </div>

    <div class="container">
        {% if recent_songs %}
            <div class="row" style="padding-top: 80px">
                <div class="section-title" style="width:100%;text-align:center;">
                    <h4>Recently viewed songs</h4>
                </div>
            </div>
        {% endif %}
        <div class="row">
            {% for song in recent_songs %}
                <div class="col-4 song"
                    {% if forloop.counter > 15 %}
                        style="padding-left: 0; margin-bottom: 50px; display: none"
                    {% else %}
                        style="padding-left: 0; margin-bottom: 50px;"
                    {% endif %}
                >
                    <div class="song-info-box" >
                        {% if not song.cover_art.value %}
                            <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/cd.png" alt="">
                        {% else %}
                            <img src="{{ song.cover_art.value }}" alt="">
                        {% endif %}
                        <div class="song-info" style="padding-top: 2%">
                            <a href="{% url 'song'  song.s.value|cut:'http://SpotifyStats.com/spot/' %}" ><h4>{{ song.name.value}}</h4></a>
                            {% with song.artists.value|split:"," as artist_uris %}
                                {% with song.artist_names.value|split:"," as artist_names %}
                                    <p><b><i class="fas fa-microphone-alt"></i> Artist: </b>
                                        {% for artist_uri, artist_name in artist_uris|zip:artist_names %}
                                            <a href="{% url 'artist'  artist_uri|cut:'http://SpotifyStats.com/spot/' %}" >{{artist_name}} </a>
                                            {% if forloop.counter != artist_uris|length %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                {% endwith %}
                            {% endwith %}
                            <p><b><i class="fas fa-fire"></i> Global Popularity: </b>{{ song.pop.value}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function showAll() {
            var x = document.getElementsByClassName("song");
            Array.prototype.forEach.call(x, function(el) {
                // Do stuff here
                el.style.display = null
            });
        }
    </script>
{% endblock content %}


