{% extends "layout.html" %}
{% load static %}

{% block content %}

    <section class="player-section set-bg" data-setbg="{% static 'img/player-bg.jpg' %}">
        <div class="player-box" style="padding-right: 20px">
            <div class="row" style="width: 100%">
                <div class="col-8">
                    <div class="row">
                        <div class="tarck-thumb-warp">
                            <div class="tarck-thumb">
                                {% if not song_info.cover_art %}
                                    <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/cd.png" alt="">
                                {% else %}
                                    <img src="{{ song_info.cover_art }}" alt="">
                                {% endif %}
                            </div>
                        </div>
                        <div class="wave-player-warp" style="padding-top: 0px">
                            <div class="wave-player-info">
                                <h2>{{ song_info.name }}</h2>
                            </div>
                            <div class="row" style="padding-top: 47px">
                                <div class="col-5">
                                    <ul>
                                        {% if artist_name %}
                                            <li style="list-style: none">
                                                <strong>Artist:</strong><a href="{% url 'artist' song_info.artists|cut:'http://SpotifyStats.com/artist/' %}"><span> {{ artist_name }}</span></a>
                                            </li>
                                        {% endif %}
                                        {% if song_info.release_date %}
                                            <li style="list-style: none; margin-top: 17px">
                                                <strong>Release Date:</strong><span> {{ song_info.release_date }}</span>
                                            </li>
                                        {% endif %}
                                        {% if artist_genre_info.keys|length > 0 %}
                                            <li style="list-style: none; margin-top: 17px">
                                                <strong>Genre:</strong>
                                                <span>
                                                    {% for k, v in artist_genre_info.items %}
                                                        <a href="{% url 'genre' k|cut:'http://SpotifyStats.com/genre/' %}">{{v|capfirst}}</a>
                                                        {% if forloop.counter != artist_genre_info|length %}, {% endif %}
                                                    {% endfor %}
                                                </span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="col-5">
                                    <ul>
                                        {% if song_info.popularity %}
                                            <li style="list-style: none">
                                                <strong>Popularity:</strong><span> {{ song_info.popularity|slice:":6" }}</span>
                                            </li>
                                        {% endif %}
                                        {% if duration %}
                                             <li style="list-style: none; margin-top: 17px">
                                                 <strong>Duration: </strong><span>{{ duration }} </span>
                                             </li>
                                        {% endif %}
                                        {% if song_info.tempo %}
                                             <li style="list-style: none; margin-top: 17px">
                                                 <strong>Tempo: </strong><span>{{ song_info.tempo|slice:":6" }} bpm</span>
                                             </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <canvas id="pie-chart" height="165"></canvas>
                </div>
            </div>
        </div>
    </section>

    <section class="similar-songs-section">
		<div class="container-fluid">
			<h3><i class="fas fa-music"></i> Similar Songs</h3>
			<div class="row">
				<div class="col-xl-3 col-sm-6">
					<div class="similar-song">
						<img class="ss-thumb" src="{% static 'img/playlist/1.jpg' %}" alt="">
						<h4>Jennifer Brown</h4>
						<p>One Night in Ibiza</p>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url="music-files/3.mp3"></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
									<!-- Player Controls -->
									<div class="ss-controls">
										<div class="songs-links">
											<a href=""><img src="{% static 'img/icons/p-1.png' %}" alt=""></a>
											<a href=""><img src="{% static 'img/icons/p-2.png' %}" alt=""></a>
											<a href=""><img src="{% static 'img/icons/p-3.png' %}" alt=""></a>
										</div>
										<div class="player_controls_box">
											<button class="jp-prev player_button" tabindex="0"></button>
											<button class="jp-play player_button" tabindex="0"></button>
											<button class="jp-next player_button" tabindex="0"></button>
											<button class="jp-stop player_button" tabindex="0"></button>
										</div>
									</div>
									<!-- Progress Bar -->
									<div class="player_bars">
										<div class="jp-progress">
											<div class="jp-seek-bar">
												<div>
													<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
												</div>
											</div>
										</div>
										<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="similar-song">
						<img class="ss-thumb" src="{% static 'img/playlist/2.jpg' %}" alt="">
						<h4>Jennifer Brown</h4>
						<p>One Night in Ibiza</p>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_9" data-url="music-files/4.mp3"></div>
							<div class="jp-audio jp_container_9" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
									<!-- Player Controls -->
									<div class="ss-controls">
										<div class="songs-links">
											<a href=""><img src="{% static 'img/icons/p-1.png' %}" alt=""></a>
											<a href=""><img src="{% static 'img/icons/p-2.png' %}" alt=""></a>
											<a href=""><img src="{% static 'img/icons/p-3.png' %}" alt=""></a>
										</div>
										<div class="player_controls_box">
											<button class="jp-prev player_button" tabindex="0"></button>
											<button class="jp-play player_button" tabindex="0"></button>
											<button class="jp-next player_button" tabindex="0"></button>
											<button class="jp-stop player_button" tabindex="0"></button>
										</div>
									</div>
									<!-- Progress Bar -->
									<div class="player_bars">
										<div class="jp-progress">
											<div class="jp-seek-bar">
												<div>
													<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
												</div>
											</div>
										</div>
										<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="similar-song">
						<img class="ss-thumb" src="{% static 'img/playlist/3.jpg' %}" alt="">
						<h4>Jennifer Brown</h4>
						<p>One Night in Ibiza</p>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_10" data-url="music-files/5.mp3"></div>
							<div class="jp-audio jp_container_10" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
									<!-- Player Controls -->
									<div class="ss-controls">
										<div class="songs-links">
											<a href=""><img src="{% static 'img/icons/p-1.png' %}" alt=""></a>
											<a href=""><img src="{% static 'img/icons/p-2.png' %}" alt=""></a>
											<a href=""><img src="{% static 'img/icons/p-3.png' %}" alt=""></a>
										</div>
										<div class="player_controls_box">
											<button class="jp-prev player_button" tabindex="0"></button>
											<button class="jp-play player_button" tabindex="0"></button>
											<button class="jp-next player_button" tabindex="0"></button>
											<button class="jp-stop player_button" tabindex="0"></button>
										</div>
									</div>
									<!-- Progress Bar -->
									<div class="player_bars">
										<div class="jp-progress">
											<div class="jp-seek-bar">
												<div>
													<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
												</div>
											</div>
										</div>
										<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="similar-song">
						<img class="ss-thumb" src="{% static 'img/playlist/4.jpg' %}" alt="">
						<h4>Jennifer Brown</h4>
						<p>One Night in Ibiza</p>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_11" data-url="music-files/7.mp3"></div>
							<div class="jp-audio jp_container_11" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
									<!-- Player Controls -->
									<div class="ss-controls">
										<div class="songs-links">
											<a href=""><img src="{% static 'img/icons/p-1.png' %}" alt=""></a>
											<a href=""><img src="{% static 'img/icons/p-2.png' %}" alt=""></a>
											<a href=""><img src="{% static 'img/icons/p-3.png' %}" alt=""></a>
										</div>
										<div class="player_controls_box">
											<button class="jp-prev player_button" tabindex="0"></button>
											<button class="jp-play player_button" tabindex="0"></button>
											<button class="jp-next player_button" tabindex="0"></button>
											<button class="jp-stop player_button" tabindex="0"></button>
										</div>
									</div>
									<!-- Progress Bar -->
									<div class="player_bars">
										<div class="jp-progress">
											<div class="jp-seek-bar">
												<div>
													<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
												</div>
											</div>
										</div>
										<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <script>
        var config = {
            type: 'polarArea',
            data: {
                datasets: [{
                    data: {{ data|safe }},
                    backgroundColor: [
                        '#FAB314', '#717B86', '#08192D', '#E6E8EA', '#FF005A'
                    ],
                    label: 'Population'
                }],
                labels: {{ labels|safe }}
            },
            options: {
                responsive: true
            }
        };


        window.onload = function () {
            var ctx = document.getElementById('pie-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>

{% endblock %}